.calculator_wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: rgba(18, 18, 233, 0.651);
    border-radius: 4px;
    padding: 80px;
    min-width: 70%;

    h2
    {
        margin-bottom: 24px;
        font-size: 32px;
        color: rgb(178, 241, 122);
        text-shadow: 1px 1.5px 0px rgba(0, 0, 0, 0.464);
    }

    p
    {
        font-size: 62px;
        color:blue;
        background-color: rgb(199, 199, 199);
        padding: 12px 24px;
        border-radius: 4px;
        box-shadow: 2px 4px 2px 0px inset rgba(0, 0, 0, 0.398);
        min-width: 50%;
        text-align: right;
    }

    input
    {
        height: 48px;
        border-radius: 4px;
        box-shadow: inset 0px 3px 10px 0px rgba(0, 0, 0, 0.394);
        text-align: right;
        min-width: 300px;
        font-size: 1.125rem;
    }

    div
    {
        display: flex;
        gap: 24px;

        button
        {
            padding: 12px 24px;
            background-color: rgb(178, 241, 122);
            font-size: 18px;
            color: rgb(18, 18, 233);
            border-radius: 4px;
            box-shadow: 1px 4px 0px 0px rgba(0, 0, 0, 0.568);
            border-style: hidden;
            transition: all 0.1s ease-out;

            &:hover    
            {
                background-color: rgb(251, 255, 0);
            }

            &:active
            {
                transform: translateY(4px);
                box-shadow: 0.5px 2px 0px 0px rgba(0, 0, 0, 0.568);
            }
        }
    }
}